<div class="container">
    <div class="row">
        <div class="col-12 form">
            <h2>Type city to check temperature</h2>
            <form class="form-inline" (submit)="submit()">
                <input type="text" class="form-control" id="CityName" placeholder="Company Name" [(ngModel)]="CityName"
                       [ngModelOptions]="{standalone: true}" #CityNameChild>
                <button><img src="../assets/images/search.svg" alt=""></button>
            </form>
        </div>
    </div>
    <div class="row" *ngIf="avg">
        <div class="col-12">
            <h3>Average pressure: {{avg | number:'1.1-2'}} hpa</h3>
        </div>
    </div>
    <!--<h2>{{CityName}}</h2>-->
    <app-loading *ngIf="loading"></app-loading>
    <div class="row" *ngIf="showContent">
        <div class="col-12">
            <div class="sort-day mb-3">
                <label>Daily chart</label>
                <input type="date" class="ml-3" (change)="dailyChar($event)"/>
            </div>
            <!-- <h3>Last 5 days</h3> -->
            <canvas #chart></canvas>
        </div>
    </div>
    <div class="row" *ngIf="showContent">
        <div class="col-12">
            <div class="sort-day mt-3 mb-3">
                <label>Daily sort</label>
                <input type="date" class="ml-3" (change)="dailyMeasurement($event)"/>
            </div>
            <div *ngFor="let pogoda of forecast">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <div class="forecast">
                            <p><b>{{pogoda.dt_txt}}</b></p>
                            <div class="city_details">
                                <div class="row w-100 align-items-center">
                                    <div class="col-12 col-md-4">
                                        <div
                                            class="main temp d-flex align-items-center justify-content-center flex-row">
                                            <img src="../assets/images/temp.svg" class="img-fluid" alt="">
                                            <div>
                                                <h2>{{pogoda.main.temp | round}} &deg;C</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="col-12 col-md-8 d-flex align-items-center justify-content-start flex-column">
                                        <div class="row">
                                            <div
                                                class="col-12 d-flex align-items-center justify-content-center flex-wrap">
                                                <div
                                                    class="main pressure d-flex align-items-center justify-content-between flex-row">
                                                    <img src="../assets/images/pressure.png" class="img-fluid" alt="">
                                                    <div>
                                                        <h5>Pressure:</h5>
                                                        <h5>{{pogoda.main.pressure}} hpa</h5>
                                                    </div>
                                                </div>
                                                <div
                                                    class="main humidity d-flex align-items-center justify-content-between flex-row">
                                                    <div>
                                                        <img src="../assets/images/humidity.svg" class="img-fluid"
                                                             alt="">
                                                    </div>
                                                    <div>
                                                        <h5>Humidity: </h5>
                                                        <h5>{{pogoda.main.humidity}} %</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div
                                                class="col-12 d-flex align-items-center justify-content-center flex-wrap">
                                                <div
                                                    class="main temp_min d-flex align-items-center justify-content-between flex-row">
                                                    <div>

                                                        <img src="../assets/images/temp_min.svg" class="img-fluid"
                                                             alt="">
                                                    </div>
                                                    <div>

                                                        <h5>Temp Min: </h5>
                                                        <h5>{{pogoda.main.temp_min | round}}&deg;C</h5>
                                                    </div>
                                                </div>
                                                <div
                                                    class="main temp_max d-flex align-items-center justify-content-between flex-row">
                                                    <img src="../assets/images/temp_max.svg" class="img-fluid" alt="">
                                                    <div>

                                                        <h5>Temp Max: </h5>
                                                        <h5>{{pogoda.main.temp_max | round}}&deg;C</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>