/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
    background-color: #484b54;
}
.form {
    margin-top: 3rem;
    margin-bottom: 5rem;
    h2 {
        margin-bottom: 2rem;
        color: #fff;
        text-align: center;
    }
    form {
        &.form-inline {
            button, input {
                &:focus {
                    outline: 0;
                    box-shadow: none;
                }
            }
            input {
                padding: 30px;
                border-radius: unset;
                width: 90%;
                border: none;
            }

            button {
                width: 10%;
                padding: 18px;
                border: none;
                background-color: #000;
                img {
                    height: 20px;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
.jumbotron {
    padding: 1rem;
    background-color: #fff;
    .forecast {
        h2 {
            text-align: center;
        }
        .city_details {
            .main {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                margin: 1rem;
                h5 {
                    padding: 0;
                    margin: .5rem;
                }
                img {
                    height: 3rem;
                    margin-right: 2rem;
                }
                p {
                    margin: 0;
                }
                &.temp {
                    flex-direction: row;
                    justify-content: flex-end;
                    h2 {
                        font-size: 3rem;
                    }
                    img {
                        margin-right: 1rem;

                    }
                }
            }
        }

    }
}
